#include "Configuration Support/Targets/Framework.xcconfig"
#include "Configuration Support/Bitcode.xcconfig" // Enables Bitcode for platforms that support it.

INFOPLIST_FILE = Supporting Files/Info.plist

// As of Xcode 8S162m, the Swift Migrator doesn’t respect any `SWIFT_VERSION` from `xcconfig` files. So, until said improvement, manually duplicate the value below in ../PrettyColors.xcodeproj/project.pbxproj
// SWIFT_VERSION = "2.3"
SWIFT_OPTIMIZATION_LEVEL = -Owholemodule

COMBINE_HIDPI_IMAGES = YES
APPLICATION_EXTENSION_API_ONLY = YES

MACOSX_DEPLOYMENT_TARGET = 10.9
IPHONEOS_DEPLOYMENT_TARGET = 8.0
WATCHOS_DEPLOYMENT_TARGET = 2.0
TVOS_DEPLOYMENT_TARGET = 9.0
